html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF5EE;
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF5EE;
}