html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background: #FFF5EE; /* Samma färg som spelet */
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFF5EE; /* Samma som spelet */
}